body {
  max-width: 1400px;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem 2rem;
}
main {
  padding: 1rem 2rem;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  justify-items: center;
  background: transparent;
}
.image-gallery .image-card:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-card {
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: move;
  overflow: hidden;
  position: relative;
}
.image-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* shadow over the element */
}
.image-card:hover > input {
  display: block;
}
.image-card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card input {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dragging img {
  opacity: 0.5;
}
.hidden {
  display: none;
}
