#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  justify-items: center;
  background: transparent;
}
.image-gallery .image-card:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.image-card {
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: move;
  overflow: hidden;
  /* transition */
  transition: all 0.3s ease-in-out;
}

.image-card img {
  max-width: 100%;
  height: 100%;
}

.dragging img {
  opacity: 0.5;
}
